.card {
  width: 286px;
}

.cover {
  position: relative;
  width: 100%;
  height: 270px;
  overflow: hidden;
}

.back_img {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: -80px;
  left: 0;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.image {
  width: 286px;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.4)) !important;
  -webkit-filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.4)) !important;
  z-index: 1;
  object-fit: contain;
  object-position: center;
}

.info {
  padding: 1rem;
}

.image_container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;

  & > * {
    margin-right: 1rem;
  }

}

.title {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.3rem;
}

.types > * {
  margin-right: 0.5rem;
}

.sprite_options {
  padding: 1rem;
}

.evolutions_container {
  padding: 1rem;
}

.body {
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -ms-border-radius: 0 0 20px 20px;
  -o-border-radius: 0 0 20px 20px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.1);
}

.hint {
  font-size: 12px;
  color: var(--bs-gray);
}
