.image {
  height: 180px;
  object-fit: contain;
  object-position: center;
}

.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.spinner {
  margin-left: 1rem;
  margin-right: 1rem;
}

.evolutions {
  object-fit: contain;
  object-position: center;
}

.title {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}

.types > * {
  margin-right: 0.5rem;
}

.stat_title {
  text-transform: uppercase;
}
