*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
}

.activeCell {
  filter: brightness(80%);
  -webkit-filter: brightness(70%);
}

.bg-normal {
  background-color: #88887B;
}

.bg-fire {
  background-color: #FF4422;
}
 
.bg-water {
  background-color: #3399FE;
}
 
.bg-electric {
  background-color: #FFCC33;
}
 
.bg-grass {
  background-color: #76CC55;
}
 
.bg-ice {
  background-color: #65CCFF;
}
 
.bg-fighting {
  background-color: #BA5544;
}
 
.bg-poison {
  background-color: #AB579A;
}
 
.bg-ground {
  background-color: #DEBB54;
}
 
.bg-flying {
  background-color: #8799FF;
}
 
.bg-psychic {
  background-color: #FF5599;
}
 
.bg-bug {
  background-color: #A9BB22;
}
 
.bg-rock {
  background-color: #BBAA66;
}
 
.bg-ghost {
  background-color: #6666BA;
}
 
.bg-dragon {
  background-color: #7666EE;
}
 
.bg-dark {
  background-color: #775444;
}
 
.bg-steel {
  background-color: #B7B7C5;
}

.bg-fairy {
  background-color: #F1A8F0;
}
