@import 'tailwindcss';

@tailwind utilities;

.bg-normal {
  background-color: #88887b;
}

.bg-fire {
  background-color: #ff4422;
}

.bg-water {
  background-color: #3399fe;
}

.bg-electric {
  background-color: #ffcc33;
}

.bg-grass {
  background-color: #76cc55;
}

.bg-ice {
  background-color: #65ccff;
}

.bg-fighting {
  background-color: #ba5544;
}

.bg-poison {
  background-color: #ab579a;
}

.bg-ground {
  background-color: #debb54;
}

.bg-flying {
  background-color: #8799ff;
}

.bg-psychic {
  background-color: #ff5599;
}

.bg-bug {
  background-color: #a9bb22;
}

.bg-rock {
  background-color: #bbaa66;
}

.bg-ghost {
  background-color: #6666ba;
}

.bg-dragon {
  background-color: #7666ee;
}

.bg-dark {
  background-color: #775444;
}

.bg-steel {
  background-color: #b7b7c5;
}

.bg-fairy {
  background-color: #f1a8f0;
}
